<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Contact</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero deleniti ipsum magnam dignissimos eligendi, odio iste obcaecati odit earum voluptatum. Ipsa, vitae quidem? Rem, necessitatibus vero? Odio quam corporis officia!</p>
        </div>
        <div class="col-12">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Your Email</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Your Comment</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary mb-3">Submit</button>
            </div>
        </div>
    </div>
</div>