<div class="container">
    <div class="row ">
        <div class="col-12 col-md-9">
            <div class="row">
                    <div class="col">
                        <h1>
                            <span>The first Heading</span>
                            <span class="text-white-50">Will Catch Yours Eyes</span>
                        </h1>
                    </div>
            </div>
            <br>
            <div class="row">
                <div class="col-9 col-12">
                    <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 18px;">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
                        semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus
                        ac cursus commodo.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <img src="/website/assets/img/1.jpg" class="img-fluid w-100" alt="..."
                style="border-radius: 100%; height: auto;">
        </div>
    </div>
</div>