<!-- your html code here -->
<div class="container">
<H1>Portfolio</H1>
Lorem ipsum dolor sit amet consectetur adipiscing elit, orci taciti primis class quam placerat scelerisque pharetra, urna iaculis aliquam dignissim congue sed.
</div>

<div class="container">
    <div class="row g-4">
        <div class="col-md-4"> 
            <div class="card h-100">
                <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="">
                 <div class="card-body">
                    <h5 class="card-title">
                        <a href="#" class="text-primary text-decoration-none">Project Name</a>
                    </h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipiscing elit ad lacus convallis.</p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4"> 
            <div class="card h-100">
                <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="">
                 <div class="card-body">
                    <h5 class="card-title">
                        <a href="#" class="text-primary text-decoration-none">Project Name</a>
                    </h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipiscing elit ad lacus convallis.</p>
                </div>
            </div>
        </div>
       
        <div class="col-md-4"> 
            <div class="card h-100">
                <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="">
                 <div class="card-body">
                    <h5 class="card-title">
                        <a href="#" class="text-primary text-decoration-none">Project Name</a>
                    </h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipiscing elit ad lacus convallis.</p>
                </div>
            </div>
        </div>
            
        </div>
    </div>
 </div>